# 仮想環境（Mac/Linux）
venv/

# Pythonキャッシュ
__pycache__/
*.py[cod]

# 環境変数ファイル
.env

# Streamlit secrets（APIキーなど）
.streamlit/secrets.toml

# Jupyterノートブックのチェックポイント
.ipynb_checkpoints/

# VS Code 設定ファイル（共有したくない場合）
.vscode/

# macOS特有の隠しファイル
.DS_Store
